<link rel="stylesheet" href="../css/edit-form.css">




<div class="col-lg-8 col-sm-8 col-12 order-1 order-sm-2" id="pSec2">
    <div id="sub1">
        <img src="../img/CoverPhoto.png" id="coverImg">
        <a href="#"><img src="../img/ProfilePic.png" id="profileImg"></a>
        <a href="#"><img src="../img/camera.png" id="Camera"></a>
        <h5 id="name"><%if (user.name) { %>
            <%=user.name %>
            <% } %></h5>
        <h4 id="heading1">Patient Id-:<%if (user.short_id) { %>
            <%=user.short_id %>
            <% } %><span id="patientId"></span></h4>
        <div id="patientDetails">
            <button id="myBtnEdit"  data-toggle="modal" data-target="#myModalEdit" onclick=modalEdit()>edit</button>
            <h3 id="heading2">Patient Details</h3>
            <label for="PhoneNo" class="detailLevels">Phone No. : <%if (user.phoneNumber) { %>
				<%=user.phoneNumber %>
				<% } %> </label>
            <br>
            <label for="Email" class="detailLevels">Email :<%if (user.email) { %>
				<%=user.email %>
				<% } %></label>
            <br>
            <label for="bloodGroup" class="detailLevels">Blood Group:<%if (user.bloodGroup) { %>
				<%=user.bloodGroup %>
				<% } %></label>
            <br>
            <label for="bloodGroup" class="detailLevels">Nominee Name:<%if (nominee.nominee) { %>
				<%=nominee.nominee.name %>
				<% } %> </label>
            <br>
            <label for="bloodGroup" class="detailLevels">Nominee Email:<%if (nominee.nominee) { %>
				<%=nominee.nominee.email %>
				<% } %></label>
            <br>
        </div>
    </div>
</div>

