<link rel="stylesheet" href="../css/edit-form.css">




<div class="col-lg-8 col-sm-8 col-12 order-1 order-sm-2" id="pSec2">
    <div id="sub1">
        <img src="../img/CoverPhoto.png" id="coverImg">
        <div class="profile-photo-div" id="profile-photo-div">
            <div class="profile-img-div" id="profile-img-div">
                <div id="loader"></div>
                <a href="#">
        <a href="#"><!--<img src="../img/ProfilePic.png" id="profileImg"></a>-->
    
                    <img src="../img/ProfilePic.png"  id="profile-img" class=" img-fluid">
                </a>
                <input id="x-position" type="range" name="x-position" value="0" min="0" />
                <input id="y-position" type="range" name="y-position" value="0" min="0" />
              <!-- <a href="#"><img src="../img/camera.png" id="Camera"></a> -->
            </div>
            <div class="profile-buttons-div">
                <div class="profile-img-input" id="profile-img-input">
                    <label class="button" id="change-photo-label" for="change-photo">
                        <a href="#">
                        <img src="../img/camera.png" id="Camera">
                        </a>
                </label><input id="change-photo" name="change-photo" type="file" style="display: none" accept="image/*" />
                </div>
                <div class="profile-img-confirm" id="profile-img-confirm" style="display: none">
                    <div class="button half green" id="save-img"><i class="fa fa-check" aria-hidden="true"></i></div>
                    <div class="button half red" id="cancel-img"><i class="fa fa-remove" aria-hidden="true"></i></div>
                </div>
            </div>
        </div>
        <div class="error" id="error">min sizes 400*400px</div>
        <canvas id="croppedPhoto" width="400" height="400"></canvas>
        <a href="#"><img src="../img/camera.png" id="Camera"></a>
        <h5 id="name"><%if (user.name) { %>
            <%=user.name %>
            <% } %></h5>
        <h4 id="heading1">Patient Id-:<%if (user.short_id) { %>
            <%=user.short_id %>
            <% } %><span id="patientId"></span></h4>
        <div id="patientDetails">
            <button id="myBtnEdit"  data-toggle="modal" data-target="#myModalEdit" onclick=modalEdit()>edit</button>
            <h3 id="heading2">Patient Details</h3>
            <label for="PhoneNo" class="detailLevels">Phone No. : <%if (user.phoneNumber) { %>
				<%=user.phoneNumber %>
				<% } %> </label>
            <br>
            <label for="Email" class="detailLevels">Email :<%if (user.email) { %>
				<%=user.email %>
				<% } %></label>
            <br>
            <label for="bloodGroup" class="detailLevels">Blood Group:<%if (user.bloodGroup) { %>
				<%=user.bloodGroup %>
				<% } %></label>
            <br>
            <label for="bloodGroup" class="detailLevels">Nominee Name:<%if (nominee.nominee) { %>
				<%=nominee.nominee.name %>
				<% } %> </label>
            <br>
            <label for="bloodGroup" class="detailLevels">Nominee Email:<%if (nominee.nominee) { %>
				<%=nominee.nominee.email %>
				<% } %></label>
            <br>
        </div>
    </div>
</div>

